@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;600&display=swap");
* {
    font-family: "Montserrat", sans-serif;
    box-sizing: border-box;
    letter-spacing: 0.1px;
    word-spacing: 0px;
}
body {
    margin: 0;
    padding: 0;
    max-height: 100vh;
    overflow: hidden;
}
button,
.fa,
.fas,
.m {
    cursor: pointer;
}
body,
html {
    min-width: 430px;
}
.horizontal_divider {
    border-bottom: 1px solid rgb(226, 228, 230);
    width: 100%;
}
.send_button {
    border: 0;
    padding: 10px;
    background-color: #e2dddd;
    color: white;
    text-transform: capitalize;
    padding: 15px 20px;
    border-radius: 5px;
    i {
        margin-left: 5px;
    }
}
nav {
    background-color: #10011b;
    color: white;
    .nav {
        max-width: 1900px;
        margin: auto;
        display: flex;
        justify-content: space-between;
        .logo {
            width: 150px;
            img {
                width: 100%;
            }
        }
        .nav_items {
            display: flex;

            .fa-bell {
                font-size: 35px;
                margin: 0;
            }
        }
        .nav_item {
            display: flex;
            display: flex;
            justify-content: center;
            flex-direction: column;
            padding: 10px;
            margin: 5px;
            text-transform: capitalize;
        }
        .vertical_divider {
            display: flex;
            flex-direction: column;
            justify-content: center;
            height: 100%;
            padding: 12px;
        }
        .vertical_divider::after {
            content: "";
            height: 100%;
            max-width: 1px;
            border-right: 1px solid white;
        }
        .name {
            font-size: 16px;
            font-weight: 300;
            display: flex;
            flex-direction: row;
            div {
                margin: 0 5px;
                display: flex;
                flex-direction: column;
                justify-content: center;
            }
            .img {
                border-radius: 50%;
                overflow: hidden;
                width: 50px;
                img {
                    width: 100%;
                    display: block;
                }
            }
        }
    }
    .nav_mobile {
        background-color: #10011b;
        padding: 10px;
        text-align: center;
        display: none;
        button {
            text-transform: uppercase;
            border: 0;
            background-color: #572c5f;
            padding: 15px 20px;
            margin: 20px 5px;
            color: white;
            border-radius: 3px;
            cursor: pointer;
            width: 150px;
        }
    }
}

main {
    .vertical_sections {
        display: flex;
        .vertical_section {
            max-height: 95vh;
            overflow-y: scroll;
        }
        .inbox {
            background-color: #341842;
            color: white;
            width: 30%;
            padding-bottom: 100px;
            .horizontal_divider {
                width: 93%;
                margin: auto;
            }
            .top {
                padding: 15px 20px;
                padding-bottom: 0;
                .fa-times {
                    font-size: 35px;
                    margin: 20px 0;
                    display: none;
                }
                .search {
                    background-color: white;
                    border-radius: 3px;
                    position: relative;
                    margin: 10px 0;
                    input {
                        border-radius: 3px;
                        border: none;
                        border: 2px solid rgba(0, 0, 0, 0);
                        padding: 12px 10px;
                        width: 100%;
                        transition: border 0.2s;
                    }
                    input:focus {
                        outline: none;
                        border: 2px solid #10011b;
                    }
                    .fa-search {
                        color: rgba(0, 0, 0, 0.219);
                        font-size: 25px;
                        margin: 10px;
                        position: absolute;
                        right: 0;
                        top: 0;
                        background-color: white;
                    }
                }
                .titles {
                    margin-top: 30px;
                    display: flex;
                    font-size: 14px;
                    padding-bottom: 10px;
                    border-bottom: 1px solid white;
                    .title:nth-child(1) {
                        width: 50%;
                    }
                    .title:nth-child(2) {
                        width: 22%;
                    }
                    .title:nth-child(3) {
                        width: 22%;
                    }
                    .title:nth-child(4) {
                        width: 25%;
                        text-align: right;
                    }
                    .far {
                        font-size: 20px;
                        vertical-align: -2px;
                        margin: 0 7px;
                        margin-right: 0;
                    }
                }
            }
            .messages {
                .message {
                    font-weight: lighter;
                    text-transform: capitalize;
                    cursor: pointer;
                    .top {
                        display: flex;
                        padding: 15px 20px;
                        .fa-eye-slash {
                            color: #ffc658;
                        }
                        .hidden {
                            visibility: hidden;
                        }
                        .alert {
                            color: #ffc658;
                            margin: 0 19px;
                            margin-right: 0;
                            font-size: 20px;
                        }
                    }
                    .content {
                        font-size: 14px;
                        margin: 0;
                        padding: 10px 20px;
                        .fa-users {
                            margin-right: 7px;
                        }
                    }
                    .item {
                        .title {
                            display: inline-block;
                            margin: 0 5px;
                            font-size: 16px;
                            font-weight: 500;
                        }
                    }
                    .item:nth-child(1) {
                        width: 46%;
                    }
                    .item:nth-child(2) {
                        width: 22%;
                    }
                    .item:nth-child(3) {
                        width: 22%;
                    }
                    .fa,
                    .fas,
                    .far {
                        color: #7c878e;
                    }
                    .fa-eye {
                        color: white;
                    }
                }
                .active_message {
                    background-color: white;
                    box-shadow: 0 0 0px 1px rgb(255, 255, 255);
                    position: relative;
                    .title,
                    .content {
                        color: #341842;
                    }
                    .fa,
                    .fas,
                    .far {
                        color: #7c878e;
                    }
                }
                .active_message:before {
                    content: "";
                    position: absolute;
                    left: 0;
                    width: 8px;
                    background-color: #00b2a9;
                    top: 0;
                    bottom: 0;
                    box-shadow: 0 0 0px 1px #00b2a9;
                }
            }
        }
        .conversation {
            background-color: #f6f7f8;
            width: 40%;
            padding-bottom: 270px;
            .send_message {
                background-color: #eeeeee;
                padding: 20px;
                padding-bottom: 0;
                position: fixed;
                bottom: 0;
                right: 0;
                left: 0;
                width: 40%;
                margin: auto;
                .send_options {
                    padding: 20px 0;
                    display: flex;
                    justify-content: space-between;

                    .icons {
                        font-size: 35px;
                        color: #694f72;
                        i {
                            margin: 0 10px;
                        }
                        .m {
                            margin: 0 10px;
                            display: inline-block;
                            border: 1px solid #694f72;
                            width: 40px;
                            height: 40px;
                            text-align: center;
                            border-radius: 50%;
                            font-size: 30px;
                            vertical-align: 5px;
                        }
                    }
                    @media (max-width: 525px) {
                        .icons {
                            font-size: 25px;
                            margin-top: 10px;
                            .m {
                                font-size: 23px;
                                height: 30px;
                                width: 30px;
                                vertical-align: 1px;
                            }
                        }
                    }
                }
                input {
                    width: 100%;
                    border: 0;
                    border-radius: 3px;
                    padding: 15px 10px;
                    font-size: 18px;
                }
            }
            .top {
                padding: 15px 20px;
                padding-bottom: 5px;

                .title {
                    text-transform: uppercase;
                    font-size: 14px;
                }
                .names {
                    display: flex;
                    margin: 10px 0;
                    .circle {
                        display: inline-block;
                        width: 10px;
                        height: 10px;
                        margin-right: 5px;
                        border-radius: 50%;
                    }
                    .name {
                        margin-right: 10px;
                        text-transform: capitalize;
                    }
                    .name:nth-child(1) {
                        .circle {
                            background-color: #00b2a9;
                        }
                    }
                    .name:nth-child(2) {
                        .circle {
                            background-color: #ceb888;
                        }
                    }
                    .name:nth-child(3) {
                        .circle {
                            background-color: #5e3465;
                        }
                    }
                }
            }
            .texts {
                padding: 15px 20px;
                padding-top: 0;
                .text {
                    margin: 20px 0;
                    .circle {
                        display: inline-block;
                        width: 10px;
                        height: 10px;
                        margin-right: 5px;
                        border-radius: 50%;
                    }
                    .top {
                        padding: 0;
                        margin: 10px 0;
                        text-transform: capitalize;
                        display: flex;
                        justify-content: space-between;
                        font-size: 14px;
                        color: rgb(171, 180, 190);
                        font-weight: 700;
                    }
                    padding: 0 20px;
                    max-width: 500px;
                    .content {
                        background-color: #c5eae8;
                        padding: 15px 10px;
                        border-top-left-radius: 10px;
                        border-bottom-right-radius: 10px;
                    }
                    .bottom {
                        display: flex;
                        justify-content: flex-end;
                        .seen {
                            margin: 5px 0;
                            color: rgb(171, 180, 190);
                            font-size: 12px;
                            .fa-eye {
                                color: rgb(56, 170, 107);
                            }
                        }
                        .not_seen {
                            margin-left: 10px;
                        }
                    }
                }
                .my_text {
                    max-width: 100%;
                    cursor: pointer;
                    .content {
                        max-width: 500px;
                        margin: auto;
                        margin-right: 0;
                        img {
                            margin: 10px auto;
                            width: 100%;
                            max-width: 300px;
                            display: block;
                        }
                    }
                    .top {
                        margin-left: auto;
                        margin-right: 0;
                        max-width: 500px;
                    }
                }
                .text:nth-child(1) {
                    .circle {
                        background-color: #00b2a9;
                    }
                }
                .text:nth-child(2) {
                    .circle {
                        background-color: #ceb888;
                    }
                    .content {
                        background-color: #eeebe1;
                    }
                }
                .text:nth-child(3),
                .text:nth-child(5) {
                    .circle {
                        background-color: #5e3465;
                    }
                    .content {
                        background-color: #d6cfd9;
                    }
                }
                .text:nth-child(4) {
                    .circle {
                        background-color: #acabab;
                    }
                    .content {
                        background-color: #e9e9e9;
                    }
                }
            }
            .buttons {
                display: flex;
                button {
                    margin: 0 5px;
                }
            }
            .recepients {
                position: relative;
                select{
                    padding:15px;
                    border:1px solid silver;
                    border-radius:5px;
                    cursor: pointer;
                    transition:box-shadow .2s;
                }
                option{
                    padding:10px 5px;
                    cursor: pointer;
                }
                select:focus{
                    outline:none;
                    box-shadow: 0 0 2px 3px #a24ace6c;
                }
                .fas {
                    transition: transform 0.2s;
                }
                .recepient {
                    background-color: white;
                    color: black;
                    border: 1px solid rgba(179, 176, 180, 0.815);
                    transition: box-shadow 0.2s;
                    padding: 15px 25px;
                    display: flex;
                    .fas {
                        margin-left: 5px;
                        color: rgb(100, 100, 100);
                        height: 100%;
                        position: relative;
                        top: 2px;
                    }
                }
                @media (max-width: 525px) {
                    .recepient {
                        #recepient_button {
                            max-width: 20px;
                            overflow: hidden;
                        }
                    }
                }
                .recepient_options {
                    visibility: hidden;
                    opacity: 0;
                    transform: translateY(15px);
                    position: absolute;
                    left: -95%;
                    top: -295%;
                    background-color: white;
                    border: 1px solid rgba(192, 192, 192, 0.719);
                    box-shadow: 0 0 15px rgba(139, 139, 139, 0.322);
                    border-radius: 5px;
                    overflow: hidden;
                    transition: all 0.3s;

                    .recepient_option {
                        width: 220px;
                        padding: 15px;
                        text-transform: uppercase;
                        font-size: 14px;
                        cursor: pointer;
                        transition: background-color 0.2s;
                        input {
                            font-size: 14px;
                            width: 100%;
                            border-bottom: 1px solid rgba(192, 192, 192, 0.384);
                            border-radius: 0;
                            transition: border 0.2s;
                            height: 100%;
                            transition: background-color 0.2s;
                        }
                        input:focus {
                            outline: none;
                            border-bottom: 1px solid black;
                            background-color: rgba(207, 205, 207, 0.259);
                        }
                    }
                    .recepient_option:nth-child(1) {
                        padding-top: 20px;
                        padding-bottom: 20px;
                    }
                    .recepient_option:nth-child(1):hover {
                        background-color: rgba(87, 44, 95, 0.259);
                    }
                }
            }
            .recepients:hover {
                button {
                    box-shadow: 0 0 2px 3px rgba(183, 104, 197, 0.459);
                }
                .recepient_options {
                    transform: translateY(0);
                    visibility: visible;
                    opacity: 1;
                }
                .fas {
                    transform: rotate(180deg);
                }
            }
            .message_popups {
                position: fixed;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                margin: auto;
                text-align: center;
                display: flex;
                flex-direction: column;
                justify-content: center;
                z-index: 1;
                background-color: #3126334f;
                transition: all 0.2s;
                opacity: 0;
                pointer-events: none;
                .macros_popup {
                    max-width: 600px;
                    width: 95%;
                    margin: auto;
                    transition: all 0.2s ease-in-out;
                    .macros_top {
                        background-color: #572c5f;
                        color: white;
                        display: flex;
                        justify-content: space-between;
                        text-transform: capitalize;
                        font-size: 18px;
                        padding: 12px;
                        font-weight: lighter;
                        border-top-left-radius: 5px;
                        border-top-right-radius: 5px;
                        .search {
                            width: 70%;
                            margin: 0 5px;
                            padding: 0;
                            input {
                                width: 100%;
                                padding: 10px;
                                height: 100%;
                                border-radius: 3px;
                                border: 1px solid rgba(192, 192, 192, 0.733);
                                transition: border 0.2s;
                            }
                            input:focus {
                                outline: none;
                                border: 1px solid #341842;
                            }
                        }
                        .macros_popup_title {
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            font-size: 18px;
                        }
                        @media (max-width: 565px) {
                            .macros_popup_title {
                                font-size: 16px;
                            }
                            .search {
                                width: 60%;
                            }
                        }
                        div {
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            i {
                                font-size: 30px;
                            }
                        }
                    }
                    .macros_body {
                        padding: 10px;
                        background-color: white;
                        .bottom_table_holder {
                            max-height: 400px;
                            overflow-y: scroll;
                            overflow: -moz-scrollbars-none;
                            -ms-overflow-style: none;
                            table {
                                th {
                                    margin: 0;
                                    padding: 0;
                                }
                            }
                        }
                        .bottom_table_holder::-webkit-scrollbar {
                            width: 0 !important;
                        }
                        .tables_holder {
                            border-radius: 5px;
                            box-shadow: 0 0 10px rgba(92, 92, 92, 0.63);
                            overflow: hidden;
                        }

                        table,
                        th,
                        td {
                            font-size: 14px;
                        }
                        td,
                        th {
                            font-weight: lighter;
                        }

                        th:nth-child(1) {
                            border-right: 1px solid rgba(192, 192, 192, 0.658);
                        }

                        td:nth-child(1),
                        th:nth-child(1) {
                            background-color: rgb(115, 77, 123);
                            color: white;
                        }
                        td {
                            cursor: pointer;
                            transition: background-color 0.2s;
                        }
                        td:hover {
                            background-color: rgba(87, 44, 95, 0.259);
                        }
                        .divider_holder:hover {
                            background-color: #643a6de7;
                        }
                        .divider_holder:nth-child(2):hover {
                            background-color: #ffffff;
                        }

                        table:nth-child(1) {
                            th {
                                font-size: 16px;
                            }
                        }

                        table {
                            border-collapse: collapse;
                            border-style: hidden;
                            overflow: hidden;
                            width: 100%;

                            th:nth-child(1) {
                                width: 40%;
                            }

                            th,
                            td {
                                padding: 10px;
                                text-align: left;
                            }
                        }
                    }
                    .macros_bottom {
                        padding: 10px;
                        background-color: white;
                        border-bottom-left-radius: 5px;
                        border-bottom-right-radius: 5px;
                        .drop_down {
                            text-align: left;
                            font-size: 14px;
                            .selected {
                                background-color: #5c4280;
                                padding: 10px;
                                display: flex;
                                justify-content: space-between;
                                cursor: pointer;
                                color: white;
                                i {
                                    display: flex;
                                    flex-direction: column;
                                    justify-content: center;
                                    font-size: 18px;
                                    transition: transform 0.2s;
                                }
                            }
                            .options {
                                transform: scaleY(0);
                                position: relative;
                                transition: transform 0.2s;
                                .options_inner {
                                    position: absolute;
                                    background-color: white;
                                    width: 100%;
                                    max-height: 235px;
                                    overflow-y: scroll;
                                    .option {
                                        padding: 10px;
                                        cursor: pointer;
                                        transition: all 0.2s;
                                        margin: 1px 0;
                                    }
                                    .option:hover {
                                        background-color: #5c4280;
                                        color: white;
                                    }
                                }
                            }
                        }
                        .button_holder {
                            text-align: left;
                            padding: 15px 0;
                            button {
                                background-color: #572c5f;
                            }
                        }
                    }
                }
                .message_popup {
                    max-width: 600px;
                    width: 90vw;
                    margin: auto;
                    transition: all 0.2s ease-in-out;
                    transform: scale(0);
                    img {
                        width: 100%;
                        display: block;
                    }
                    .message_popup_top {
                        background-color: #572c5f;
                        color: white;
                        display: flex;
                        justify-content: space-between;
                        text-transform: capitalize;
                        font-size: 18px;
                        padding: 12px;
                        font-weight: lighter;
                        border-top-left-radius: 5px;
                        border-top-right-radius: 5px;
                        .message_popup_title {
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            font-size: 18px;
                        }
                        i {
                            font-size: 30px;
                        }
                    }
                    .message_popup_bottom {
                        color: #572c5f;
                        background-color: white;
                        display: flex;
                        justify-content: space-between;
                        text-transform: capitalize;
                        font-size: 18px;
                        padding: 12px;
                        font-weight: lighter;
                        border-bottom-left-radius: 5px;
                        border-bottom-right-radius: 5px;
                    }
                    .take_picture {
                        text-transform: capitalize;
                        border: 0;
                        background-color: #572c5f;
                        padding: 15px 20px;
                        color: white;
                        border-radius: 3px;
                        cursor: pointer;
                    }
                    .message_popup_body {
                        padding: 12px;
                        background-color: white;
                    }
                }
            }
        }
        .patient {
            width: 30%;
            background-color: #fefefe;
            padding: 20px 15px;
            padding-bottom: 100px;
            .fa-times {
                font-size: 35px;
                margin: 20px 0;
                display: none;
            }
            .top {
                display: flex;
                justify-content: space-between;
                width: 100%;
                padding: 15px 0;
                font-size: 14px;

                .title {
                    text-transform: uppercase;
                    font-weight: bold;
                }
                .left {
                    .patient_basic {
                        .title {
                            font-weight: 700;
                            font-size: 18px;
                            margin: 15px 0;
                        }
                        div {
                            text-transform: capitalize;
                            font-size: 16px;
                            padding: 2px 0;
                        }
                    }
                }
                .right {
                    img {
                        width: 120px;
                        height: 120px;
                        border-radius: 50%;
                    }
                    .er {
                        background-color: #00b2a9;
                        color: rgb(235, 235, 235);
                        padding: 8px;
                        font-size: 14px;
                        text-align: center;
                        width: 70px;
                        border-radius: 5px;
                        margin: 8px auto;
                    }
                }
            }
            .content {
                .infos {
                    padding: 10px 0;
                    font-size: 14px;
                    .info {
                        text-transform: capitalize;
                        display: flex;
                        justify-content: space-between;
                        color: rgb(66, 68, 70);
                        padding: 5px 0;
                        .value {
                            font-weight: bold;
                            max-width: 250px;
                            text-align: right;
                            button {
                                text-transform: capitalize;
                                border: 0;
                                background-color: #572c5f;
                                padding: 5px 20px;
                                color: white;
                                border-radius: 3px;
                                cursor: pointer;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 1255px) {
    nav {
        .nav_mobile {
            display: block;
        }
        .nav {
            .logo {
                width: 120px;
            }
        }
    }
    main {
        .vertical_sections {
            .inbox {
                position: fixed;
                width: 100%;
                transform: translateX(-100%);
                transition: transform 0.5s;
                padding-bottom: 400px;
                .top {
                    .fa-times {
                        display: block;
                    }
                }
            }
            .conversation {
                width: 100%;
                .send_message {
                    width: 100%;
                }
            }
            .patient {
                padding-bottom: 400px;
                position: fixed;
                width: 100%;
                right: 0;
                transform: translateX(100%);
                transition: transform 0.5s;
                .fa-times {
                    display: block;
                }
            }
        }
    }
}

@media (max-width: 700px) {
    main {
        .vertical_sections {
            .conversation {
                .top {
                    .title {
                        text-transform: uppercase;
                        font-size: 12px;
                    }
                    .names {
                        .name {
                            font-size: 14px;
                        }
                    }
                }
            }
        }
    }
}
